header.blogPost {
   height: 52vh;
   width: 100vw;
   background-image: url(assets/blog-image-1.jpg);
   background-position: top center;
   background-size: cover;
}

// ASIDE STYLES //
aside {
   background: $mudGreen;
   width: 20%;
   margin-top: 90px;
   // float: right;
   position: absolute;
   right: 0;
   box-shadow: -16px 14px 0px 0px $mudGreen;
   h3 {
      font-size: 20px;
      font-family: $secondaryFont;
      color: $iceBlue;
      padding: 15px 0;
   }
}

h3 ~ p {
   font-size: 18px;
}

aside ul li {
   list-style: none;
   color: $iceBlue;
   font-size: 18px;
   padding-bottom: 10px;
   font-family: $primaryFont;
   letter-spacing: 2px;
}

aside ul li::before {
   content: "•"; 
   color: $marigold;
   padding-right: 8px;
}

// BLOG POST STYLES //
.move {
   transform: translateY(-220px);
}

.boxShadow {
   width: 56%;
   box-shadow: -1px 0px 0px 4px #555F02;
}

.heading ~ img {
      width: 55%;
      box-shadow: 16px 14px 0px 0px #555F02;
}

.container {
   padding-top: 50px;
   // width: 56%;
   flex-direction: column;
}

// COMMENT SECTION //
.comments h2 {
      font-family: $secondaryFont;
      color: $iceBlue;
}

.comments {
   flex-direction: column;
   h3 {
      color: $iceBlue;
      font-family: $primaryFont;
   }
}

.davin, .lisa {
   width: 55%;
   flex-direction: column;
   padding: 40px 0;
}

.floatImg {
   float: left;
   width: 15%;
}

.flexText {
   padding-left: 120px;
}

// FORM //

