// HEADER //
header.blogPost {
   height: 52vh;
   width: 100vw;
   background-image: url(assets/blog-image-1.jpg);
   background-position: top center;
   background-size: cover;
   position: relative;
}

// BLOG POST STYLES //
.heading {
   position: relative;
   margin-top: -198px;
   z-index: 100;
}

.heading ~ img {
   width: 55%;
   box-shadow: 16px 14px 0px 0px #555F02;
   position: relative;
}
.boxShadow {
   width: 56%;
   box-shadow: -1px 0px 0px 4px #555F02;
}

.container {
   padding: 50px 0;
   flex-direction: column;
}

// COMMENT SECTION //
.comments h2 {
   font-family: $secondaryFont;
   color: $iceBlue;
}

.comments {
   flex-direction: column;
   padding: 40px 0;
      h3 {
         font-family: $primaryFont;
         color: $marigold;
   }
}

.davin, .lisa {
   width: 55%;
   flex-direction: column;
   padding: 40px 0;
}

.floatImg {
   float: left;
   width: 13%;
}

.flexText {
   padding-left: 120px;
}

// SECTION STYLES //
.mission {
   flex-direction: column;
   background: $mudGreen;
   width: 25%;
   display: block;
   float: right;
   margin-top: 90px;;
   box-shadow: -1px 29px 0px 14px $mudGreen;
   h3 {
      font-size: 20px;
      font-family: $secondaryFont;
      color: $iceBlue;
      padding: 15px 0;
   }
}

h3 ~ p {
   font-size: 18px;
}

.mission h3, aside p {
   padding-right: 10px;
}

.mission ul li {
   font-family: $primaryFont;
   color: $iceBlue;
   font-size: 18px;
   letter-spacing: 2px;
   list-style: none;
   padding-bottom: 10px;
}

.mission ul li::before {
   content: "•"; 
   color: $marigold;
   padding-right: 8px;
}

// BLOG FORM STYING //
form.blogForm {
   padding-bottom: 100px;
}

.blogForm input[type="name"], .blogForm input[type="email"] {
   width: calc( (55% / 2) - 10px);
   margin: 8px;
   padding-left: 20px;
   padding-bottom: 10px;
   margin-bottom: 20px;
}

.blogForm input[type="name"] {
   margin-left: 0;
}

.blogForm input[type="email"] {
   margin-right: 0;
}

.blogForm input[type="text"] {
   width: 55%;
   height: 200px;
   padding-bottom: 125px;
   padding-left: 20px;
}

input#message {
   padding: 0 0 135px 15px;
}

.blogForm input[type="submit"] {
   margin-top: 20px;
   font-size: 20px;
   width: 55%;
   height: 35px;
}

// MEDIA QUERY //
.mobile{
   display: none;
}
@media (max-width: 665px) {
   .dsktp{
   display: none;
}
   .mobile{
      display: block;
      width: 100%;;
   }

   .heading ~ img {
      width: 92%;
   }

   .mission {
      text-align: center;
      h3 {
         font-size: 30px;
      }
   }

   .boxShadow, .davin, .lisa{
      width: 100%;
      box-shadow: none;
   }

   .comments h2 {
      padding-top: 25px;
   }

   .floatImg {
      width: 28%;
   }
   // .blogForm input[type="name"], .blogForm input[type="email"] {
      
   // }

   .blogForm input[type="name"], .blogForm input[type="email"], .blogForm input[type="submit"], input#comment{
      width: 100%;
      // margin: 0;
   }



}