// HEADER //
header.contact {
   height: 48vh;
   width: 100vw;
   background-image: url(assets/contact-image-1.jpg);
   background-position: top center;
   background-size: cover;
}

// CONTACT FORM STYLING //
.contactFlex {
   display: flex;
}

.headingContact {
   position: relative;
   margin-top: -220px;
}

.contactForm {
   background-color: $charcoal;
   width: 70%;
}

.contactForm input[type="name"], .contactForm input[type="email"] {
   width: calc((100% / 2) - 5px);
}
