// HEADER //
header.contact {
   height: 48vh;
   width: 100vw;
   background-image: url(assets/contact-image-1.jpg);
   background-position: top center;
   background-size: cover;
}

// CONTACT FORM STYLING //
.contactForm {
   position: relative;
   margin-top: -220px;
}

.contactForm form {
   background-color: $charcoal;
}

.contactFlex {
   display: flex;
   justify-content: space-between;

}