// BASIC FOR STYLING

input {
   background-color: transparent;
   border: none;
   border-bottom: 2px solid $marigold;
   color: $iceBlue;
   font-family: $primaryFont;
   font-weight: 300;
}

input:focus {
   border: 2px dotted grey;
}

input#comment {
   border: 2px solid $marigold;
}

input[type="submit"] {
   font-family: $secondaryFont;;
   background-color: $mudGreen;
   border: none;
}

