// BODY STYLES //
body {
   overflow-x: hidden;
}

.wrapper {
   max-width: 1200px;
   width: 90%;
   margin: 0 auto;
}

.flex {
   display: flex
}

// CONSISTENT STYLES //
h1 {
   font-family: $secondaryFont;
   color: $marigold;
   font-size: 105px;
}

h2 {
   font-family: $secondaryFont;
   color: $marigold;
   font-size: 45px;
}

i ~ h2 {
   font-size: 40px;
}

p {
   font-family: $primaryFont;
   color: $iceBlue;
   font-size: 20px;
   line-height: 132%;
   letter-spacing: 2px;;
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}

.button {
   background: $mudGreen;
   color: $iceBlue;
   padding: 10px 8px;
   font-family: $secondaryFont;
   font-size: 25px;
   display: inline-block;
}

// FOOTER COPYRIGHT //
.copy {
   text-align: center;
   padding-top: 10px;
}

// BACKGROUND COLOURS //
.camoBack {
   background: $camoGreen;
}

.charcoalBack {
   background: $charcoal;
}