// MAIN HEADER STYLES
header.main {
   height: 75vh;
   width: 100vw;
   background-image: url(assets/home-image-1.jpg);
   background-position: bottom right;
   background-size: cover;
   position: relative;
}

.welcome {
   position: absolute;
   bottom: -14%;
   width: 40%;
}

.headingMain {
   font-family: $primaryFont;
   color: $iceBlue;
   font-weight: 400;
   line-height: 70px;
   position: absolute;
   top: 32%;
   left: 43%;
      h1 {
         font-family: $primaryFont;
         font-size: 3.5vw;
         color: $iceBlue;
         span {
            font-family: $secondaryFont;
            font-size: 7vw;
            color: $marigold;
      }
   }
}


// SECTION ONE STYLES
.adventure {
   padding-top: 165px;
   padding-bottom: 70px;
   justify-content: space-between;
   align-items: flex-end;
      .adText {
         width: 60%;
   }
}

.adText p {
   padding-bottom: 25px;
}

.adImg img {
   width: 85%;
   box-shadow: -14px 14px 0px 0px $mudGreen;
}

// SECTION TWO STYLES
.gallery {
   padding: 70px 0;
      img {
         width: calc( (100% / 3) - 20px);
         margin: 10px;
   }
}

.gallery img:first-child {
    margin-left: 0;
      img:last-child {
         margin-right: 0;
    }
}

// SECTION THREE STYLES
.position {
   position: relative;
}

.info {
   padding: 80px 0;
      .icon {
         position: absolute;
         top: 40px;
         left: -20px;
   }
}

.icon {
   background: $mudGreen;
   border-radius: 50%;
   padding: 10px;
   font-size: 25px;
   color: white;
}

.home, .users, .file, .phone {
   padding: 40px;
}

// SECTION FOUR //
.flexBetween {
   display: flex;
   justify-content: space-between;
   // padding: 90px 0;
   position: relative;
}

.locImg {
   box-shadow: 24px 24px 0px -10px $marigold;
   margin-bottom: 75px;
}

.progImg {
   box-shadow: -24px 24px 0px -10px $marigold;
   margin-top: 75px;
   
}

.locations, .programs {
  width: 45%;
  justify-content: space-between;
  position: relative;
  p {
     padding-bottom: 15px;
  }
}

.locations {
   flex-direction: column;
   justify-content: flex-end;
   left: -60px;
   top: -40px;
   text-align: right;   
}

.programs {
   flex-direction: column-reverse;
   right: -60px;
   bottom: -40px;
}

// FOOTER STYLES
.trials {
   flex-direction: column;
   align-items: center;
   padding: 100px;
      .button {
         width: 175px;
   }
}

// MAIN MEDIA QUERIES //

// SMALLER DESKTOP //
@media (max-width: 1125px) {
   .headingMain {
      left: 6%;
   }

   .info h2 {
      font-size: 4vw;
   }
}

// LARGE TABLET //
@media (max-width: 965px) {
   // HEADER
   .welcome {
      display: none;
   }

   

   // SECTION ONE
   .adventure {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-evenly;
      padding: 80px 0;
   }

   .adventure .adText {
      width: 100%;
      text-align: center;
   }

   .adImg {
      padding-bottom: 62px;
      img {
         width: auto;
      }
   }

   // SECTION THREE
   .info {
      flex-direction: column;
      h2 {
         font-size: 40px;
      }
   }

   // SECTION FOUR //
   .flexBetween {
      flex-direction: column;
   }

   .locations, .programs {
      width: 100%;
   }

   .locations {
      text-align: left;
      left: -20px;
   }

   .locText {
      padding-left: 10px;
   }

   .programs {
      flex-direction: column;
      text-align: right;
      right: -20px;
      bottom: 50px;
   }

   .progImg {
      margin-bottom: 75px;
   }

   .progText {
      padding-right: 10px;
   }

   // SECTION FIVE //
   .trials {
      padding: 8%;
      text-align: center;
      p {
         padding-bottom: 15px;;
      }
   }

}