@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-family: "Dokdo", cursive;
  color: #FFC600;
  font-size: 105px;
}

h2 {
  font-family: "Dokdo", cursive;
  color: #FFC600;
  font-size: 45px;
}

i ~ h2 {
  font-size: 40px;
}

p {
  font-family: "Lato", sans-serif;
  color: #FAFFFE;
  font-size: 20px;
  line-height: 132%;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

.button {
  background: #555F02;
  width: 30px;
  color: #FAFFFE;
  padding: 10px 8px;
  font-family: "Dokdo", cursive;
  color: white;
  font-size: 25px;
}

.copy {
  text-align: center;
  padding-top: 10px;
}

.camoBack {
  background: #1E140E;
}

.charcoalBack {
  background: #262725;
}

.navBar {
  padding: 20px 0;
}

.navBar p {
  font-family: "Dokdo", cursive;
  color: #FFC600;
  font-size: 41.5px;
}

.navBar nav {
  width: 33%;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navBar ul a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #FAFFFE;
  text-transform: uppercase;
  text-decoration: none;
}

.navBar ul a:hover {
  color: #FFC600;
  font-weight: 400;
  -webkit-transition: .03;
  transition: .03;
}

header.main {
  height: 75vh;
  width: 100vw;
  background-image: url(assets/home-image-1.jpg);
  background-position: top center;
  background-size: cover;
  position: relative;
}

.welcome {
  position: absolute;
  bottom: -125px;
  width: 40%;
}

.headingMain {
  font-family: "Lato", sans-serif;
  color: #FAFFFE;
  font-weight: 400;
  line-height: 70px;
  position: absolute;
  top: 35%;
  left: 43%;
}

.headingMain h1 {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  color: #FAFFFE;
}

.headingMain h1 span {
  font-family: "Dokdo", cursive;
  font-size: 115px;
  color: #FFC600;
}

.adventure {
  height: 550px;
  padding-bottom: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.adventure .adText {
  width: 60%;
}

.adText p, .location p, .programs, p {
  padding-bottom: 25px;
}

.adImg img {
  width: 85%;
  -webkit-box-shadow: -14px 14px 0px 0px #555F02;
          box-shadow: -14px 14px 0px 0px #555F02;
}

.gallery {
  padding: 70px 0;
}

.gallery img {
  width: calc( (100% / 3) - 20px);
  margin: 10px;
}

.gallery img:first-child {
  margin-left: 0;
}

.gallery img:first-child img:last-child {
  margin-right: 0;
}

.position {
  position: relative;
}

.info {
  padding: 80px 0;
}

.info .icon {
  position: absolute;
  top: 40px;
  left: -20px;
}

.icon {
  background: #555F02;
  border-radius: 50%;
  padding: 10px;
  font-size: 25px;
  color: white;
}

.home, .users, .file, .phone {
  padding: 40px;
}

.charcoalBack {
  position: relative;
}

.readImg1, .readImg2 {
  width: 40%;
  position: absolute;
}

.readImg1 {
  left: 0;
  top: -8%;
  -webkit-box-shadow: 14px 14px 0px 0px #FFC600;
          box-shadow: 14px 14px 0px 0px #FFC600;
}

.readImg2 {
  right: 0;
  bottom: -8%;
  -webkit-box-shadow: -18px 18px 0px -5px #FFC600;
          box-shadow: -18px 18px 0px -5px #FFC600;
}

.readMore {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.programs, .locations {
  width: 40%;
}

.programs {
  padding-top: 5%;
  padding-bottom: 35%;
}

.locations {
  padding-top: 35%;
  padding-bottom: 5%;
}

.trials {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}

.trials .button {
  width: 175px;
}

header.blogPost {
  height: 52vh;
  width: 100vw;
  background-image: url(assets/blog-image-1.jpg);
  background-position: top center;
  background-size: cover;
}

aside {
  background: #555F02;
  width: 20%;
  margin-top: 90px;
  position: absolute;
  right: 0;
  -webkit-box-shadow: -16px 14px 0px 0px #555F02;
          box-shadow: -16px 14px 0px 0px #555F02;
}

aside h3 {
  font-size: 20px;
  font-family: "Dokdo", cursive;
  color: #FAFFFE;
  padding: 15px 0;
}

h3 ~ p {
  font-size: 18px;
}

aside ul li {
  list-style: none;
  color: #FAFFFE;
  font-size: 18px;
  padding-bottom: 10px;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
}

aside ul li::before {
  content: "•";
  color: #FFC600;
  padding-right: 8px;
}

.move {
  -webkit-transform: translateY(-220px);
          transform: translateY(-220px);
}

.boxShadow {
  width: 56%;
  -webkit-box-shadow: -1px 0px 0px 4px #555F02;
          box-shadow: -1px 0px 0px 4px #555F02;
}

.heading ~ img {
  width: 55%;
  -webkit-box-shadow: 16px 14px 0px 0px #555F02;
          box-shadow: 16px 14px 0px 0px #555F02;
}

.container {
  padding-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments h2 {
  font-family: "Dokdo", cursive;
  color: #FAFFFE;
}

.comments {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments h3 {
  color: #FAFFFE;
  font-family: "Lato", sans-serif;
}

.davin, .lisa {
  width: 55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
}

.floatImg {
  float: left;
  width: 15%;
}

.flexText {
  padding-left: 120px;
}
